*.gem
.sass-cache
bootstrap-responsive.css
Gemfile.lock
.rvmrc
.rbenv-version


# Ignore bundler config
/.bundle
/vendor/cache
/vendor/bundle
tmp/
test/screenshots/
test/dummy/log/test.log


#nodejs

node_modules
npm.log